extends layouts/main-layout.pug

block content 
    .resultsContainer

block headerButton 
    button#markNotificationsAsRead
      i.fa-sharp.fa-solid.fa-check-double

block scripts 
    script(src="/js/notificationsPage.js") 